body, h1, p {
    margin:   0;
    padding:   0;
  }

  .option{
    margin-top: 20px;
    padding: 0;
    text-align: center;
  }

  body {
    font-family: Arial, sans-serif;
    background-image: url('../images/bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height:   100vh;
  }

  .container {
    background-color: lightyellow;
    padding:   20px;
    border-radius:   5px;
    box-shadow:   0px   0px   10px rgba(0,   0,   0,   0.1);
    width:   100%;
    max-width:   400px;
  }

  h1 {
    text-align: center;
    margin-bottom:   20px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    margin-bottom:   15px;
  }

  .form-group label {
    display: block;
    margin-bottom:   5px;
  }

  .form-group input,
  .form-group select {
    width:   98%;
    padding:   10px;
    border:   1px solid #ddd;
    border-radius:   3px;
  }

  .form-group input[type="checkbox"] {
    width: auto;
    margin-right:   10px;
  }

  button {
    background-color: #007bff;
    color: #ffffff;
    padding:   10px   20px;
    border: none;
    border-radius:   3px;
    cursor: pointer;
    width:   100%;
    margin-top:   10px;
  }

  button:hover {
    background-color: #0056b3;
  }

  .social-login {
    display: flex;
    justify-content: center;
    margin-top:   20px;
  }

  .social-login a {
    margin:   0   10px;
  }

  .social-login img {
    width:   30px;
    height:   30px;
  }