body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f0;
    margin: 0;
    padding: 0;
}

header {
    color: #ECF0F1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.signup-button {
    background-color: green;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 15px; 
    transition: background-color 0.3s ease, border-radius 0.3s ease; 
}

.signup-button:hover {
    background-color: yellowgreen;
}

.highlight {
    color: #FF5733; 
    font-size: 36px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    border-radius: 50%; 
    overflow: hidden; 
}

.logo img {
    max-height: 80px;
    border-radius: 50%; 
}

.header-content {
    text-align: left;
}

.nav-menu {
    display: flex;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline;
    margin-right: 20px;
    list-style: none;
}
.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease, font-size 0.4s ease; 
}

.nav-menu a:hover {
    color: #007bff;
    font-size: 20px; 
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

h1 {
    font-size: 60px;
    color: #333;
}

h2 {
    font-size: 30px;
    color: #333;
    opacity: 0.6;
}

p {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}

.cta-buttons {
    margin-top: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* Add border-radius transition */
}

.teacher-signup {
    background-color: green;
    border-radius: 15px 0 0 15px; 
}

.teacher-signup:hover {
    background-color: yellowgreen;
}

.student-signup {
    background-color: green;
    border-radius: 0 15px 15px 0; 
}

.student-signup:hover {
    background-color: yellowgreen;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #007bff;
    color: #fff;
}

.dropdown-btn::after {
    content: '\25BC'; 
    margin-left: 5px;
}
